@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide only the chain selector elements */
.sc-bACthX .sc-duGFKm {
  display: none !important;
}

.sc-kSwkvc.bsziwj {
  display: none !important;
}

/* 添加到现有的 CSS 文件中 */
.dropdown-hover:hover > .dropdown-content {
  display: block;
}

.dropdown-right:hover > .dropdown-content {
  display: block;
}

/* 确保子菜单在父菜单显示时才能显示 */
.dropdown-content .dropdown-content {
  display: none;
}

.dropdown-content li:hover > .dropdown-content {
  display: block;
}

/* 添加到现有的 CSS 文件中 */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

